<footer class="footer">
  <div class="footer-container">
    <img src="/static/ads/img/logo_campus.png" alt="Logo IFRO Campus Ariquemes" class="footer-logo-img">

    <div class="footer-content">
      <p>&copy; 2025 Instituto Federal de Rondônia</p>
      <div class="footer-social">
        <a href="https://www.instagram.com/ifro_ariquemes/" aria-label="Instagram"><i data-lucide="instagram"></i></a>
        <a href="https://www.google.com/maps/place/Instituto+Federal+de+Rond%C3%B4nia+-+Campus+Ariquemes/@-9.9494749,-62.9652428,17z/data=!3m1!4b1!4m6!3m5!1s0x93cc9b219af07ca7:0xc2fea3b1afa94ee5!8m2!3d-9.9494802!4d-62.9626679!16s%2Fg%2F11b5qsxh01?entry=ttu&g_ep=EgoyMDI1MDcxNi4wIKXMDSoASAFQAw%3D%3D" aria-label="Localização"><i class="fas fa-map-marker-alt"></i></a>
      </div>
    </div>
  </div>
</footer>
